.display-flex {
    display: flex;
}

.justify-content-space-between {
    justify-content: space-between;
}

.flex-direction-column {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.gap-10 {
    gap: 10px;
}

.gap-18 {
    gap: 18px;
}

.gap-20 {
    gap: 20px;
}

.flex-end {
    justify-content: flex-end;
}

