.display-flex {
    display: flex;
}

.display-flex-end {
    justify-content: flex-end;
}

.display-flex-direction-row {
    flex-direction: row;
}

.display-column {
    flex-direction: column;
}

.display-flex-center {
    align-items: center;
}

.display-flex-justify-center {
    justify-content: center;
}

.display-space-between {
    justify-content: space-between;
}

.gap-15 {
    gap: 0.938rem;
}

.gap-30 {
    gap: 1.875rem;
}