header {
    background-color: var(--color-grey-5);
    height: 6.813rem;
}

.header-box {
    width: 100%;
}

.header-box  p {
    font-weight: var(--font-weight-1);
    font-size: var(--font-size-2);
}

.logo-text {
    color: var(--color-brand-1);
    margin-right: 0.3rem;
}